.nome{
    margin: 1% 0% 0% 0%;
    display: inline-block;
    margin-left: 9%;
    margin-right: 13%;
    font-size: 15pt;
}
.nome a{
    color: red;
    text-decoration: none;
}
section{
    margin-top: 0%;
}